<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm">
        <div class="form-group">
          <label for="filter">Filter Servers By Status</label>
          <input type="text" id="filter" [(ngModel)]="filteredStatus" ngModel name="serverName" class="form-control">
          <label for="serverN">Add Server</label>
          <input type="text" id="serverN" class="form-control" ngModel name="serverAddName">
          <br>
          <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
          <br><br>
          <h2>App Status: {{ appStatus | async }}</h2>
        </div>
      </form>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers | filter:filteredStatus:'status' | sort:'name' " [ngClass]="getStatusClasses(server)">
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> | {{ server.instanceType | uppercase | reverse }} | {{ server.started | date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
